<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RemindMe</title>
    <link rel="stylesheet" href="css/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="css/remindme.css">
  </head>
  <body>
    <div class="container">
      <section class="jumbotron">
        <h1>RemindMe</h1>
        <div id="reminder-container"></div>
      </section>
    </div>
    <!-- Backbone templates -->
    <script type="text/template" id="reminder-template">
      <p>
        <label>Alert me every <input type="text" id="reminder-input" title="Default is 20" /> minutes</label>
      </p>
      <p>
        <button id="remind-btn" class="btn btn-lg btn-success">Remind Me</button>
      </p>
      <p id="note">(Default is 20)</p>
    </script>

    <script type="text/template" id="post-template">
      <div class="post">
        <h1><%= title %></h1>
        <p><%= content %></p>
        <button class="destroy"></button>
      </div>
    </script>

    <!-- Libraries -->
    <script src="js/vendors/jquery.js"></script>
    <script src="js/vendors/underscore.js"></script>
    <script src="js/vendors/backbone.js"></script>

    <!-- Backbone scripts -->
    <!--
    order:
    models
    collections
    views
    routers
    -->
    <script>
    // Model/Collection
      var Song = Backbone.Model.extend({
        defaults: {
          name: "Unknown",
          artist: "Unknown"
        },
        initialize: function() {
          console.log("Music is the answer");
        }
      });

      var Album = Backbone.Collection.extend({
        model: Song
      });

      var song1 = new Song({ name: "How Bizarre", artist: "OMC" });
      var song2 = new Song({ name: "Sexual Healing", artist: "Marvin Gaye" });
      var song3 = new Song({ name: "Talk It Over In Bed", artist: "OMC" });

      var myAlbum = new Album([ song1, song2, song3 ]);
    </script>

    <script src="js/views/reminder-view.js"></script>
    <script src="js/views/post-view.js"></script>

    <script>
      var reminderView = new ReminderView({
        el: $('#reminder-container')
      });
      var postView = new PostView({
        el: $('#post-form')
      });
    </script>

    <script>
    // Router
      var AppRouter = Backbone.Router.extend({
        routes: {
          "posts/:id": "getPost",
          ":route/:action": "loadView",
          "*actions": "defaultRoute" // matches http://example.com/#anything-here
        }
      });
      // initiate the router
      var app_router = new AppRouter;

      app_router.on('route:getPost', function(id) {
        console.log('Get post number ' + id);
      });
      app_router.on('route:loadView', function(route, action) {
        console.log(route + "_" + action);
      });
      app_router.on('route:defaultRoute', function(actions) {
        console.log(actions);
      });

      Backbone.history.start();
    </script>
  </body>
</html>
